<h2>Escribe tu nueva contraseña</h2>
<form action="/auth/recovery" method="post">
  <input name="password" type="password" />
  <input name="email" value="{{email}}" type="hidden">
  <input type="submit" value="Aceptar" />
</form>