<div>
  <h2>Bienvenido a AMG {{basicData.name}} {{basicData.dadSurname}} {{basicData.momSurname}}!</h2>

  {{!-- <p>Tu contraseña es: {{password}}.</p>
  <p>Esta es una contraseña no segura, recuerda ir aquí y cambiarla</p> --}}
</div>